.details {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 2.5em;
    }
    p {
        font-size: 2em;
    }
    button {
        height: 2em;
        font-size: 2em;
        border-radius: 0.3em;
        h5 {
            font-size: 1em;
        }
    }
}