.details {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 2.5em;
    }
    p {
        font-size: 2em;
    }
    .productsButton {
        border-color: rgb(48, 44, 68);
        color: rgb(48, 44, 68);
        &:hover {
            color: white;
            background: rgb(48, 44, 68);
        }
    }
    button {
        height: 2em;
        font-size: 2em;
        border-radius: 0.3em;
        h5 {
            font-size: 1em;
        }
    }
}

.imageCard {
    border: 1px solid rgb(48, 44, 68) !important;
}

// @media (min-width: 768px) and (max-width:991.98px) {
//     p {
//         font-size: 1em
//     }
// }