.vis {
    font-family: 'Roboto', sans-serif;
    button:disabled {
        background: #00264e;
        border-color: #00264e;
    }
}

// overflow hidden will make the img scale up in hover but stay inside the card anchor container
.card a {
    overflow: hidden;
}

.card-img-top {
    transition: all 0.7s ease-in-out;
    &:hover {
        transform: scale(1.5) rotate(-15deg);
    }
}