.vis {
    // max-width: 33%;
    // height: 10rem;
    // h1 {
    //     height: 100%;
    //     width: 100%;
    //     color: black;
    // }
    img {
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
    }
}

// .col-3 {
//     max-width: 33.333%;
// }