$navbar-color: #F0F0F0;
.navbar {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    &-brand {
        padding: 0;
        img {
            height: 8rem;
        }
    }
}

.nav-link {
    color: $navbar-color !important;
}