$navbar-color: #F0F0F0;
.navbar {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    &-brand {
        padding: 0;
        img {
            height: 8rem;
        }
    }
    &-toggler {
        padding-right: 3rem;
        font-size: 3rem;
        color: $navbar-color !important;
        border: none;
        &:focus,
        &:active {
            outline: none !important;
        }
    }
}

.bg-dark {
    background: rgb(48, 44, 68) !important;
}

.nav-link {
    color: $navbar-color !important;
    font-family: 'Julius Sans One', sans-serif;
}

.shake {
    position: relative;
    left: 0;
    animation: shake 1s linear;
}

@keyframes shake {
    0% {
        left: 0
    }
    10% {
        left: -7px
    }
    20% {
        left: 9px
    }
    30% {
        left: -11px
    }
    40% {
        left: 12px
    }
    50% {
        left: -9px
    }
    60% {
        left: 7px
    }
    100% {
        left: 0
    }
}